h2 {
  color: blue;
}

.error {
  color: red;
  background: rgba(255, 0, 0, 0.33);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: rgba(0, 255, 0, 0.33);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
